@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_root {
  background-color: #323030;
  opacity: 97%;
  color: white;
}

.nav_container {
  display: flex;
  align-items: center;
  margin: auto 4vh;
  height: 7vh;
}

.nav_container_right {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.nav_container_right button {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  
}

.login_container{
  background-color: aqua;
  height: 60vh;
  width: 50vh;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #323030;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  justify-self: center;
  display: grid;
}
.login_container h2{
  color: white;
  margin-top: 3vh;
  font-size: 24px;
}
.login_container .login_check{
  width: 35vh;
  height: 2vh;
  justify-content: center;
  justify-self: center;
  margin-top: -5vh;
  display: table;
  clear: both;
  color:white;
}
.login_check {
  display: inline-flex;
  font-size: small;
  height: auto;

}
.login_check p{
  float: inline-end;
  
  border-bottom: 1px solid white;
}
.login_check div{
  display: flex;
  height: auto;
  float: left;
}
.login_buttons_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10vh;
}
.login_buttons_container .base {
  background-color: green;
}
.login_buttons_container .discord {
  background-color: blue;
  margin-top: 2vh;
}
.login_buttons_container button {
  border-radius: 10px;
  padding: 0;
  height: 3vh;
  width: 30vh;
  color: white;
}
.white_line{
  border-bottom: 1px solid white;
  margin-top: -6vh;
  height: 1px;
  width: 40vh;
}
