@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_root {
  background-color: #323030;
  opacity: 97%;
  color: white;
}

.nav_container {
  display: flex;
  align-items: center;
  margin: auto 4vh;
  height: 75px;
}

.nav_container_right {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.nav_container_right button {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;

}